github "Alamofire/Alamofire" "4.8.2"
github "ashleymills/Reachability.swift"
github "tid-kijyun/Kanna"
github "imvenj/SwiftEntryKit"
github "imvenj/QuickLayout"
github "futuretap/InAppSettingsKit" "master"
github "imvenj/MediaBrowser" "master"
github "imvenj/SwiftPasscodeLock" "master"
